/*
* Changes the bookmarks to look like Essentials
* From https://github.com/CMD-Golem/Zen-Browser-Mods
*/

/* Remove default styles */
#personal-bookmarks {
  padding: 0 !important;
}
#personal-bookmarks:hover {
  background-color: transparent !important;
}
.toolbarbutton-text[value=""] {
  display: none !important;
}

/* Warp Bookmarks */
#PlacesToolbarItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Number of columns */
  margin-top: 5px;
}

/* Horizontal line */
#PlacesToolbar {
  flex-direction: column;
}

/* #PlacesToolbar:after { */
/*   content: ""; */
/*   width: calc(100% - 3px); */
/*   height: 1px; */
/*   margin-top: 5px; */
/*   margin-bottom: 8px; */
/*   display: block; */
/*   height: 1px; */
/*   background: light-dark(rgba(1, 1, 1, 0.075), rgba(255, 255, 255, 0.1)); */
/* } */

/* Style Bookmark items */
toolbarbutton.bookmark-item:not(.subviewbutton):not(
    #bookmarks-toolbar-placeholder
  ) {
  height: 36px !important;
  width: calc(100% -1px) !important;
  background-color: var(--tab-hover-background-color) !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(
    #bookmarks-toolbar-placeholder
  )
  image {
  width: 18px !important;
  height: 18px !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(
    #bookmarks-toolbar-placeholder
  ):hover {
  background-color: var(--tab-selected-bgcolor) !important;
}

/* Expand bookmarks with text */
toolbarbutton.bookmark-item:not(.subviewbutton):not(
    #bookmarks-toolbar-placeholder
  ):not([label=""]) {
  grid-column: auto / span 2;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(
    #bookmarks-toolbar-placeholder
  ):not([label=""])
  image {
  margin-left: 5px;
  margin-right: 5.5px !important;
}

/* Hide open all in tabs*/
.bookmarks-actions-menuseparator,
.openintabs-menuitem {
  display: none;
}

/*
* Changes the unified extensions menu to a grid.
* From https://github.com/KiKaraage/ZenMods/blob/main/Lean/chrome.css
* That link also has a more compact list view but this is another alternative for that:
* https://gist.github.com/SpacingBat3/f73297fa64d7ef8e850d4ae8b56fa024
*/

/* Set width of Unified Extension View */
#unified-extensions-view {
  width: calc(var(--menu-panel-width) - 118px) !important;
}

/* Hide the header as well as texts and settings icon for each extension, so only icons are visible */
#unified-extensions-description,
#unified-extensions-view .panel-header,
#unified-extensions-view > :nth-child(2),
.unified-extensions-item-name,
.unified-extensions-item-message,
.unified-extensions-item-message-hover,
.unified-extensions-item-message-hover-menu-button,
.unified-extensions-item-menu-button {
  display: none !important;
}

/* Arrange extensions in a properly centered 4-column grid */
#overflowed-extensions-list,
#unified-extensions-area,
.unified-extensions-list {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important; /* 4 columns */
  justify-content: left !important;
  align-items: center !important;
  margin-inline: 7px !important;
  width: 0px !important;
}

#overflowed-extensions-list {
  padding-block-start: 5px !important;
}
#unified-extensions-area {
  padding-block-end: 10px !important;
}

/* Ensure the extensions are fully centered with squircle hover shape, and reduce unneeded margins/paddings  */
.unified-extensions-item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 12px !important;
}
.unified-extensions-item-icon,
.unified-extensions-item
  .webextension-browser-action.subviewbutton
  > .toolbarbutton-badge-stack {
  margin: 0px !important;
}
panelview .unified-extensions-item-action-button {
  padding: 10px 10px !important;
}

/* Set proper padding for the Manage Extensions button */
#unified-extensions-manage-extensions {
  padding: 8px 16px !important;
  margin-block-end: 4px !important;
}

/* Set lighter opacity for passive extension buttons */
.unified-extensions-item-icon {
  opacity: 0.3;
}
.unified-extensions-item-action-button:hover {
  background-color: color-mix(in srgb, currentColor 3%, transparent) !important;
}

#unified-extensions-view toolbarseparator {
  margin-top: 0px !important;
}
