// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        // If this section is empty, niri will fetch xkb settings
        // from org.freedesktop.locale1. You can control these using
        // "niri msg action switch-layout next/0/1/...".
        xkb { }

        // Enable numlock on startup.
        numlock
    }
    mouse {
        accel-profile "flat"
    }
    touchpad { }
    trackpoint { }
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
output "DP-2" {
  mode "2560x1440"
  position x=0 y=0
  focus-at-startup
  variable-refresh-rate on-demand=true
}
output "HDMI-A-1" {
  mode "1920x1080"
  position x=2560 y=180
  variable-refresh-rate on-demand=true
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 4
    background-color "transparent"
    focus-ring {
        width 1
        active-color "#8c9199"
        // active-color   "#9dcbfb"
        inactive-color "#505050"
        urgent-color "#ffb4ab"
    }
    border {
        off
    }
    shadow {
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#00000070"
    }
    tab-indicator {
        active-color   "#9dcbfb"
        inactive-color "#8c9199"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9dcbfb80"
    }
}

config-notification {
    disable-failed
}

gestures {
    hot-corners {
        off
    }
}

overview {
    workspace-shadow {
        off
    }
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}
hotkey-overlay {
    // Disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

screenshot-path "~/Pictures/screenshots/%Y-%m-%d_%H-%M-%S.png"

animations {
    horizontal-view-movement {
        off
    }
    window-resize {
        off
    }
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// Additional default rules.
window-rule {
    clip-to-geometry true
    geometry-corner-radius 12
    draw-border-with-background false
}
// Informs non-floating windows that they're tiled.
window-rule {
    match is-floating=false
    tiled-state true
}
// Work around WezTerm's initial configure bug by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
// Open floating by default.
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    match app-id=r#"^discord$"#
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen-beta$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    match app-id=r#"org.quickshell$"# // dms windows.
    open-floating true
}
// Open floating on the bottom-right by default.
window-rule {
    match app-id=r#"^org\.kde\.dolphin$"# title="^Copying"
    match app-id=r#"^org\.kde\.dolphin$"# title="^Moving"
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    open-floating true
    default-floating-position x=16 y=16 relative-to="bottom-right"
}
// Block from screen capture. Doesn't block screenshots where you manually select the area.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"Bitwarden$"#
    block-out-from "screen-capture"
    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}


layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

cursor {
    xcursor-size 32
}

recent-windows {
    highlight {
        corner-radius 12
        active-color "#124a73"
        urgent-color "#ffb4ab"
    }
    // Override to disable super+tab
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

// Include dms files
include "binds.kdl"
