/* From https://github.com/CMD-Golem/Zen-Browser-Mods */

/* Remove default styles */
#personal-bookmarks {
	padding: 0 !important;
}
#personal-bookmarks:hover {
	background-color: transparent !important;
}
.toolbarbutton-text[value=""] {
	display: none !important;
}


/* Warp Bookmarks */
#PlacesToolbarItems {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Number of columns */
}

/* Horizontal line */
#PlacesToolbar {
	flex-direction: column;
}

#PlacesToolbar:after {
	content: '';
	width: calc(100% - 3px);
	height: 1px;
	margin-top: 5px;
	margin-bottom: 8px;
	display: block;
	height: 1px;
	background: light-dark(rgba(1, 1, 1, 0.075), rgba(255, 255, 255, 0.1));
}

/* Style Bookmark items */
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder) {
	height: 36px !important;
	width: calc(100% -1px) !important;
	background-color: var(--tab-hover-background-color) !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder) image {
	width: 18px !important;
	height: 18px !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder):hover {
	background-color: var(--tab-selected-bgcolor) !important;
}

/* Expand bookmarks with text */
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder):not([label=""]) {
	grid-column: auto / span 2;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder):not([label=""]) image {
	margin-left: 5px;
	margin-right: 5.5px !important;;
}

/* Hide open all in tabs*/
.bookmarks-actions-menuseparator, .openintabs-menuitem {
	display: none;
}
